.textbook-item {
    display: flex; 
    flex-direction: row; 
    margin: 10px;
    width: 843px;
    height: 72px;
    align-items: center; 
    border-bottom: 1px solid  #ABE2DF;
    
}

.textbook-content {
    width: 543px;
    height: 72px;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.textbook-content p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
}
.textbook-Img {
    border-radius: 10px;
    width: 55.21px;
    height: 55.21px;
}
.textbook-Img img {
    width: 34.506px;
    height: 33.739px;
    margin-top: 10px;
}